//---------------------------------------------------------------------fonts

$font_path:'../fonts/';

$font_1:'Arial';

$icons_font_1:'test';
//---------------------------------------------------------------------fonts
//---------------------------------------------------------------------colors
$def_text_color:#000;

//---------------------------------------------------------------------colors